/* 
  ╭────────────────────────╮               ╭────────────────────────╮
  │  0   1   2   3   4   5 │               │  6   7   8   9  10  11 │
  │ 12  13  14  15  16  17 ╰──╮         ╭──╯ 18  19  20  21  22  23 │
  │ 24  25  26  27  28  29  30╰────┬────╯31  32  33  34  35  36  37 │
  ╰───────────────╮ 38  39  40  41 │ 42  43  44  45 ╭───────────────╯
                  ╰────────────────┴────────────────╯
 ╭─────────────────────────╮               ╭─────────────────────────╮
 │ LB5 LB4 LB3 LB2 LB1 LB0 │               │ RB0 RB1 RB2 RB3 RB4 RB5 │
 │ LM5 LM4 LM3 LM2 LM1 LM0 ╰──╮         ╭──╯ RM0 RM1 RM2 RM3 RM4 RM5 │
 │ LO5 LO4 LO3 LO2 LO1 LO0 LD4╰────┬────╯RD4 RO0 RO1 RO2 RO3 RO4 RO5 │
 ╰───────────────╮ LD3 LD2 LD1 LD0 │ RD0 RD1 RD2 RD3 ╭───────────────╯
                 ╰─────────────────┴───── ───────────╯
 
 B : Boven
 M : Midden
 O : Onder
 D : Duim
*/

#pragma once

#define LB0  5  // links boven
#define LB1  4
#define LB2  3
#define LB3  2
#define LB4  1
#define LB5  0

#define RB0  6  // rechts boven
#define RB1  7
#define RB2  8
#define RB3  9
#define RB4 10
#define RB5 11

#define LM0 17  // links midden
#define LM1 16
#define LM2 15
#define LM3 14
#define LM4 13
#define LM5 12

#define RM0 18  // rechts midden
#define RM1 19
#define RM2 20
#define RM3 21
#define RM4 22
#define RM5 23

#define LO0 29  // links onder
#define LO1 28
#define LO2 27
#define LO3 26
#define LO4 25
#define LO5 24

#define RO0 32  // rechts onder
#define RO1 33
#define RO2 34
#define RO3 35
#define RO4 36
#define RO5 37

#define LD0 41  // links duim
#define LD1 40
#define LD2 39
#define LD3 38
#define LD4 30

#define RD0 42  // rechts duim
#define RD1 43
#define RD2 44
#define RD3 45
#define RD4 31